<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrador de grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-list-header>Grupo (empresa)</ion-list-header>
    <ion-item>
      <ion-input
        placeholder="Nombre del grupo"
        (ionInput)="changeGroupName($event)"
        [formControl]="groupNameControl"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Hoteles</ion-label>
    </ion-list-header>
    <ion-item *ngIf="stateService.group!.hotels.length === 0">
      <ion-label>
        <h3>No hay hoteles</h3>
        <p>Para agregar hoteles presiona en "agregar hotel"</p>
        <span class="text-danger" *ngIf="groupNameControl.invalid"
          >Agrega el nombre del grupo</span
        >
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let hotel of stateService.group!.hotels">
      <ion-item-options>
        <ion-item-option (click)="editHotelAlert(hotel)"
          >Editar</ion-item-option
        >
        <ion-item-option color="danger" (click)="deleteHotelAlert(hotel)"
          >Eliminar</ion-item-option
        >
      </ion-item-options>
      <ion-item
        [button]="true"
        [detail]="true"
        (click)="navigateToHotel(hotel.id)"
      >
        <ion-label>{{hotel.name}}</ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item lines="none">
      <ion-button
        (click)="createHotelAlert()"
        [disabled]="groupNameControl.invalid"
        >Agregar hotel</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="openSummaryModal()"
      >Ver resumen</ion-button
    >
  </ion-toolbar>
</ion-footer>
