<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="atrás"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="selectedTour"
      >Excursion - {{ selectedTour.name }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-title class="mt-2">Pasajeros por hotel</ion-title>
  <ion-card>
    <ion-card-header *ngIf="selectedTour && selectedTour.hotels.length === 0">
      <ion-card-title>No hay hoteles</ion-card-title>
      <ion-card-subtitle
        >Para agregar pasajeros debes agregar un hotel</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <ion-list
    *ngFor="let hotel of selectedTour!.hotels"
    class="mb-2"
    [inset]="true"
  >
    <ion-list-header>
      <ion-label>Hotel - {{ hotel.name }}</ion-label>
      <ion-button (click)="editHotelAlert(hotel)">Administrar</ion-button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let passenger of hotel.passengers">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>{{ passenger.name }}</ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option (click)="openPassengerModal(hotel, passenger)"
          >Editar</ion-item-option
        >
        <ion-item-option
          color="danger"
          (click)="deletePassengerAlert(hotel, passenger)"
          >Eliminar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
    <ion-item lines="none">
      <ion-button (click)="openPassengerModal(hotel)"
        >Agregar pasajero</ion-button
      >
    </ion-item>
  </ion-list>
  <div class="w-100 d-flex align-items-center justify-content-center">
    <ion-button expand="block" (click)="createHotelAlert()"
      >Agregar hotel</ion-button
    >
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="openSummaryModal()"
      >Ver resumen</ion-button
    >
  </ion-toolbar>
</ion-footer>
