<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Resumen de grupo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <ion-list>
    <ion-item>
      <ion-input
        type="email"
        [formControl]="emailFormControl"
        label="email"
        placeholder="Ej: laureano@gmail.com"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        label="Resumen del grupo"
        labelPlacement="stacked"
        [autoGrow]="true"
        [formControl]="summaryFormControl"
        [readonly]="true"
      ></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button
    [disabled]="emailFormControl.invalid"
    class="mt-3"
    expand="block"
    (click)="sendEmail()"
    >Enviar email a oficina</ion-button
  >
</ion-content>
